@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500;600;700;800&family=Poppins:wght@400;500;600;700&family=Sriracha&display=swap');

@font-face {
    font-family: "Zametka_Parletter";
    src: url("/fonts/Zametka_Parletter.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

:root {
  --font-family: "Montserrat Alternates", sans-serif;
  --second-family: "Zametka_Parletter", "Sriracha", cursive;
  --third-family: "Sriracha", cursive;
  --font3: "Poppins", sans-serif;

  --brand: #0033a1;
  --brand-soft: #cfe3f5;
  --bg-blue: #C0E7FA;
  --bg-blue-2: #c2e0f2;
  --white: #ffffff;
    --zametka-stroke: 0.8px;
}

.zametka-bold {
    font-family: "Zametka_Parletter", "Sriracha", cursive;

    -webkit-text-stroke: var(--zametka-stroke) var(--brand);

    text-shadow:
            0.5px 0 var(--brand),
            -0.5px 0 var(--brand),
            0 0.5px var(--brand),
            0 -0.5px var(--brand);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background: #ffffff;
  color: var(--brand);
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
  outline: none;
}

img {
  display: block;
  max-width: 100%;
  user-select: none;
  -webkit-user-drag: none;
  border: none;
}

button {
  font-family: inherit;
  cursor: pointer;
  border: none;
  background: none;
  outline: none;
}

*:focus {
  outline: none;
}
